.contacts-container  {
    width: 30%;
    height: 100%;
    transition: 0.3s;
    background-color: #fff;
    
}

b {
    color: black;
}


.you {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: #f0f2f5;
}

.you-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburguer {
    width: 30px;
    height: 40px;
    cursor: pointer;
}

.contacts-content {
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.contact-content {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.contact-content:hover {
    background-color: #e2e1de
}

.contact-content.selected {
    background-color: #e2e1de
}

.contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.user-name {
    font-weight: 500;
}

.last-message {
    color: #808080;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.left-last-message {
    font-size: 12px;
}

.count-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.unread-count {
    background-color: #00a884;
    color: white;
    border-radius: 50% 50%;
    padding: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.contact-content.pinned {
    background-color: #f0f8ff; /* Cor de fundo diferente para chats fixados */
}

.contact-content.selected {
    background-color: #dfdfdf; /* Cor de fundo diferente para o chat selecionado */
}


.contacts-container-expanded {
    width: 30%;
}

.contacts-container-collapsed {
    width: 75px;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 20px;
}

  *::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
    border-radius: 20px;
}

@media (max-width: 893px) {
    .contacts-container-expanded {
        width: 100%;
    }

    .contact {
        width: 70%;
    }
}